/* Structure: Content */

/* wrapper */
.content-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 64px - 32px);
  color: var(--common-color);
  background-color: var(--bg-color);
  padding: 0;
  padding-bottom: 16px;
  transition-property: transform, border-top-left-radius, filter;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 64px 0px 0px;
  border-radius: 0;

  & .content-header {
    align-items: center;

    & h1 {
      font-weight: 350;
      margin: var(--container-padding) 0;
    }
  }

  /* root, actual section wrapper */
  & .content {
    --content-cover-width: 24px;
    overflow: auto;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black var(--content-cover-width),
      black calc(100% - var(--content-cover-width)),
      transparent 100%
    );
    padding-bottom: var(--content-cover-width);
    padding-top: var(--content-cover-width);
    margin-top: calc(0 - var(--content-cover-width));
    margin-bottom: calc(0 - var(--content-cover-width));
    mask-clip: padding-box;
  }
}

.sidebar-collapse .content-wrapper {
  transform: translateX(var(--sidebar-open-width));
  border-top-left-radius: var(--f-radius);
  filter: blur(5px) brightness(0.9);
}

@media (min-width: 768px) {
  .content-wrapper {
    transition-property: margin-left;
    margin: 64px 0px 0px var(--sidebar-open-width);
    border-left: 1px solid var(--outline-light-color);
    border-top: 1px solid var(--outline-light-color);
    border-top-left-radius: var(--f-radius);
  }

  .sidebar-collapse .content-wrapper {
    transform: none;
    margin: 64px 0px 0px var(--sidebar-close-width);
  }
}
