.dropdown-menu {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  position: absolute;
  right: 0px;
  transform: translateY(-100%);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  min-width: max(128px, 100%);
  min-height: 40px;
  width: fit-content;
  overflow: hidden;
  margin: 0;
  z-index: 900;

  background-color: var(--card-bg-color);
  color: var(--card-color);
  border: 1px solid var(--outline-light-color);
  box-shadow: 0 0 0.5rem #0003;
  border-radius: var(--dropdown-radius);
  backdrop-filter: blur(10px);
  opacity: 0;

  & a,
  a.dropdown-item {
    color: var(--card-color);

    &:hover {
      color: var(--accent-on-color);
    }
  }

  & .dropdown-item {
    display: block;
    width: 100%;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-button-radius);
  }
}

.dropdown.show > .dropdown-menu,
.dropdown-menu.show {
  /* visibility: visible; */
  pointer-events: initial;
  transform: none;
  opacity: 1;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--accent-on-color);
  background-color: var(--accent-color);
}

.dropdown-item.dropdown-item-danger {
  color: var(--danger);
}

.dropdown-item.dropdown-item-danger:hover,
.dropdown-item.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--danger);
}

.navbar .dropdown-menu {
  top: 64px;
}
