/* Structure Element: Modal */

.modal {
  & > .modal-dialog {
    display: flex;
    position: fixed;
    top: 112px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 3000;

    & > .modal-content {
      background-color: var(--card-bg-color);
      color: var(--card-color);
      border: 0.1rem solid var(--outline-light-color);
      backdrop-filter: blur(20px);
      box-shadow: 0 35px 4000px 4000px #0009;
      border-radius: var(--f-radius);
      min-width: 20rem;

      & > .modal-header,
      & > .modal-body,
      & > .modal-footer {
        box-sizing: border-box;
        display: flex;
        min-height: 3rem;
      }

      & > .modal-header {
        height: 3rem;
        align-items: center;
        padding: 0 1rem;
        justify-content: space-between;

        & > .card-title,
        & > .modal-title,
        &:is(h1, h2, h3, h4, h5, h6) {
          font-size: 1.5rem;
        }

        /* HACK */
        & .close {
          margin-right: -0.5rem;
        }
      }

      & > .modal-body {
        padding: 1rem;
        flex-direction: column;

        & > .row {
          width: 100%;
        }
      }

      & > .modal-footer {
        align-items: center;
        padding: 0 1rem;
        gap: 1rem;
      }
    }
  }

  &:not(.show) .modal-dialog {
    display: none;
  }
}

.modal-backdrop {
  position: fixed;
  inset: 0;
}
