/* Widget: Input(s) */

/* Text input and file label */
input {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  min-height: 32px;
  border: 1px solid var(--outline-light-color);
  border-bottom: 1px solid var(--outline-color);
}

/* Text input */
input {
  border-radius: var(--card-button-radius);
  outline: none;

  &:active,
  &:focus {
    border-bottom-color: var(--accent-color);
    border-bottom-width: 2px;
  }
}

.input-group:has(input) {
  border: 1px solid var(--outline-light-color);
  border-bottom: 1px solid var(--outline-color);
  border-radius: var(--card-button-radius);
  background-color: var(--callout-bg-color);

  input {
    border: none;
    flex: 1;

    &:active,
    &:focus {
      margin-bottom: 0;
      border-bottom-width: 1px;
      border: none;
    }
  }

  &:focus-within {
    border-bottom-color: var(--accent-color);
    border-bottom-width: 2px;
    margin-bottom: -1px;
  }
}

input[type='checkbox'],
input[type='radio'] {
  min-height: initial;
}

input[type='file'] {
  display: none;
}

.custom-file {
  width: 100%;
}

.custom-file-label {
  display: block;
  width: 100%;
}

textarea.form-control {
  display: block;
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-color);
  width: 100%;
  min-height: 96px;
  resize: vertical;

  &:hover {
    border-color: var(--accent-color-75);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

textarea,
code {
  font-family: 'Cascadia Mono', 'Hack', 'JetBrains Mono', monospace;
}
