@import './avatar.css';
@import './dropdown.css';
@import './auth.css';
@import './admin.css';

:root {
  --bg-color: #222;
  --card-bg-color: #333c;
  --card-color: #eee;
  --card-footer-bg-color: #444c;
  --callout-bg-color: #222c;
  --callout-color: #ddd;
  --outline-color: #555a;
  --accent-color: #3273d2;
  --accent-color-75: #116df8b8;
  --accent-color-50: #1d70ec98;
  --accent-color-25: #0d6eff58;
  --accent-on-color: white;
  --disabled-color: #888;
  --info-box-bg-color: var(--accent-color-50);
  --info-box-color: white;
  --common-color: var(--card-color);
  --name-color: var(--accent-on-color);
  --name-bg-color: var(--accent-color-50);

  /* --radius: 8px; */
  --radius: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #eee;
    --card-bg-color: #fffc;
    --card-footer-bg-color: #eeec;
    --card-color: #222;
    --callout-bg-color: #fffc;
    --callout-color: #222;
    --outline-color: #aaac;
  }
}
body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--accent-color);
}

.brand-link,
.navbar-brand {
  font-family: Minecraft;
}

.navbar-nav .brand-link {
  font-size: 20px;
  font-weight: lighter;
}

.breadcrumb {
  font-size: 14px;
}

.user-panel .info {
  cursor: default;
}

aside [data-mark='nickname'] {
  margin-left: 1px;
}

.fas {
  text-align: center;
  width: 1.25em;
}

.table-responsive > table {
  width: 100%;
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid var(--outline-color);
    text-align: center;

    & > * {
      margin: 0 auto;
    }
  }
}

.bg-white {
  background-color: white !important;
  color: darkslategray !important;
}

.bg-black {
  background-color: black !important;
  color: #ddd !important;
}

.bg-gray {
  background-color: gray !important;
  color: white !important;
}

.bg-teal {
  background-color: teal !important;
  color: white !important;
}

.bg-pink {
  background-color: pink !important;
  color: black !important;
}

.bg-maroon {
  background-color: maroon !important;
  color: white !important;
}

#email-verification:empty {
  margin-top: calc(var(--grid-gutter) * -1);
}

::-webkit-scrollbar-track {
  background-color: var(--card-bg-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: 3px solid var(--card-bg-color);
}

::-webkit-scrollbar-button {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color-75);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--card-color);
}

* {
  scrollbar-color: var(--accent-color) var(--card-bg-color);
}
