@import '../fonts/minecraft.css';
@import './avatar.css';

body {
  font-size: 16px;
}

.splash-head {
  padding: 0.8em 0.5em 1em;
  line-height: 1.5em;
  margin: 0.2em 0 0.5em;
  font-family: Minecraft;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
}

.splash-subhead {
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 3em;
  font-family: Ubuntu, 'Segoe UI', 'Microsoft Yahei', 'Microsoft Jhenghei',
    sans-serif;
}

@media (max-width: 768px) {
  .splash {
    width: 100%;
  }

  .splash-head {
    font-size: 200%;
  }
}

@media (min-width: 768px) {
  .splash-head {
    font-size: 250%;
  }
}
