.nav-item.user-menu > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal {
  & > .modal-dialog {
    display: flex;
    position: fixed;
    top: 112px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 3000;

    & > .modal-content {
      background-color: var(--card-bg-color);
      color: var(--card-color);
      border: 1px solid var(--outline-color);
      backdrop-filter: blur(10px);
      box-shadow: 0 35px 400px 40px #000a;

      & > .modal-header,
      & > .modal-body,
      & > .modal-footer {
        box-sizing: border-box;
        display: flex;
        min-height: 48px;
      }

      & > .modal-header {
        height: 48px;
        background-color: var(--card-footer-bg-color);
        color: var(--card-color);
        border-bottom: 1px solid var(--outline-color);
        align-items: center;
        padding: 0 16px;
        justify-content: space-between;

        & > .card-title {
          font-size: 20px;
        }
      }

      & > .modal-body {
        padding: 16px;
        background-color: var(--card-bg-color);
        color: var(--card-color);
        flex-direction: column;

        & > .row {
          width: 100%;
        }
      }

      & > .modal-footer {
        background-color: var(--card-footer-bg-color);
        color: var(--card-color);
        border-top: 1px solid var(--outline-color);
        align-items: center;
        padding: 0 16px;
      }
    }
  }

  &:not(.show) .modal-dialog {
    display: none;
  }
}

.user-panel > .d-flex {
  align-items: center;
  gap: 12px;
}

.user-panel .badge {
  display: block;
  padding: 0px 8px;
  background-color: var(--color-primary);
  color: var(--accent-on-color);
  border-radius: 999vmax;
}

.d-flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.card-header .d-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

#previewer .card-header .d-flex {
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}

#closet-list .card-header .d-flex {
  justify-content: space-between;
  width: 100%;

  & > * {
    height: fit-content;
  }
}

.card-body > p.text-center {
  text-align: center;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

text {
  fill: currentColor;
}

.alert {
  align-items: center;
}

@media (max-width: 991px) {
  .row > [class*='col-'] {
    margin-top: var(--grid-gutter);
  }
}
