:root {
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--root-color);
}

body > .wrapper {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  background-color: var(--bg-color);
}

@import './structure/navbar.css';
@import './structure/sidebar.css';
@import './structure/content.css';
@import './structure/footer.css';

@import './structure/dropdown.css';
@import './structure/modal.css';

/* Shortcut for hidden in mobile client */

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-none {
    display: revert;
  }
}

/* Group wrapper element  */

.input-group,
.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
}

.input-group-append {
  margin-left: 8px;
  color: var(--accent-color);

  & :not(button, .btn) i,
  & .input-group-text {
    margin-right: 8px;
    cursor: default;
  }

  & button {
    border-radius: 0;
    min-width: 2.25rem;
    min-height: 2.25rem;
  }
}

.btn-group {
  & > button,
  & > .btn {
    border-radius: 0;

    &:first-child {
      border-radius: var(--f-widget-radius) var(--f-widget-radius) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--f-widget-radius) var(--f-widget-radius);
    }
  }
}

.btn-group-toggle {
  border-radius: var(--card-button-radius);
  border: 0.1rem solid var(--outline-light-color);
  border-bottom: 0.1rem solid var(--outline-color);

  & input[type='radio'] {
    display: none;
  }

  & button,
  & .btn {
    border-radius: 0;
    border: none;
    min-width: 2rem;
    height: 2rem;
  }
}

.form-group {
  & > label {
    display: block;
  }
}

@media (min-width: 768px) {
  .input-group,
  .btn-group {
    flex-wrap: nowrap;
  }
}

/* File Chooser HACK */

.input-group .custom-file + .input-group-append {
  & button {
    border: none;
    border-left: 0.1rem solid var(--outline-color);
  }
}

/* User Panel SPECIFIED */

.nav-item.user-menu > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-panel > .d-flex {
  align-items: center;
  gap: 12px;
}

.user-panel .badge {
  display: block;
  padding: 0px 8px;
  background-color: var(--accent-color);
  color: var(--accent-on-color);
  border-radius: 999vmax;
}

/* Bootstrap HACK */

.row > [class*='col-'] + [class*='col-'] {
  margin-top: var(--grid-gutter);
}

@media (min-width: 768px) {
  .row > [class*='col-'] + [class*='col-'] {
    margin-top: revert;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column,
.d-flex.column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.card-header .d-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ml-auto {
  margin-left: auto;
}

/* Special Element HACK */

#previewer .card-header .d-flex {
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
}

#closet-list .card-header .d-flex {
  justify-content: space-between;
  width: 100%;

  & > * {
    height: fit-content;
  }
}

.card-body > p.text-center {
  text-align: center;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.alert {
  align-items: center;
}

#announcement-box {
  & img {
    max-width: 100%;
  }
}

/* SVG HACK */

text {
  fill: currentColor;
}

/* MDUI Element HACK */

.topbar-avatar-button {
  &::part(button) {
    padding-left: 0;
  }
}
