@import './widgets/card.css';
@import './widgets/button.css';
@import './widgets/input.css';
@import './widgets/navtabs.css';
@import './widgets/pagination.css';

.info-box {
  display: flex;
  min-height: 64px;
  margin: 8px;
  padding: 16px;
  border-radius: var(--radius);
  gap: 8px;
  position: relative;
  background-color: var(--info-box-bg-color);
  color: var(--info-box-color);

  & > .info-box-icon {
    display: flex;
    height: 32px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
  }

  & > .info-box-content {
    min-height: 32px;
    align-self: center;
    flex-grow: 1;
  }
}

.progress {
  height: 4px;
  width: 100%;
  border-radius: 999vmax;
  background-color: #6668;

  & .progress-bar {
    width: 50%;
    height: 100%;
    background: currentColor;
  }
}

.tooltip {
  background-color: var(--card-bg-color);
  color: var(--card-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--outline-color);
  border-radius: var(--radius);
  z-index: 8000;
}

.callout {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-light-color);
  margin-bottom: calc(var(--grid-gutter) / 2);
  padding: 2px 8px;
  border-radius: var(--radius);
  min-height: 48px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.4rem;
    background-color: var(--first-letter-color);
    border-radius: 999vmax;
  }

  &.callout-warning {
    --first-letter-color: orange;
  }

  &.callout-danger {
    --first-letter-color: red;
  }

  &.callout-info {
    --first-letter-color: rgb(23, 99, 170);
  }

  &.callout-success {
    --first-letter-color: green;
  }

  &.callout-secondary {
    --first-letter-color: brown;
  }

  &.callout-primary {
    --first-letter-color: var(--accent-color);
  }
}

.small-box {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--card-bg-color);
  color: var(--card-color);
  border: 1px solid var(--outline-color);
  position: relative;

  & > .inner {
    width: 100%;
    padding: 12px;

    & h3 {
      margin: 0;
      font-size: 30px;
    }
  }

  & > .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    opacity: 0.45;
  }

  & > .small-box-footer {
    display: flex;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-footer-bg-color);
  }
}

select {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-color);
  min-height: 32px;
}

.badge {
  display: inline-flex;
  border-radius: var(--card-content-radius);
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px 8px;
  text-wrap: nowrap;
  font-size: 0.9rem;

  background-color: var(--callout-bg-color);
  color: var(--callout-color);

  &.name-badge {
    background-color: var(--name-bg-color);
    color: var(--name-color);
  }

  &.bg-primary,
  &.primary {
    background-color: var(--accent-color);
    color: var(--accent-on-color);
  }

  &:empty {
    display: none;
  }
}
