.card {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  background-clip: initial;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 1px solid var(--outline-color);
  border-radius: var(--radius) var(--radius);
  backdrop-filter: blur(10px);

  & .card-header,
  & .card-body,
  & .card-footer {
    box-sizing: border-box;
    min-height: 49px;
  }

  & .card-header {
    background-color: var(--card-bg-color);
    color: var(--card-color);
    border-bottom: 1px solid var(--outline-color);
    align-items: center;
    padding: 0 var(--card-content-padding);
    gap: 8px;
    display: flex;
    border-radius: var(--card-content-radius) var(--card-content-radius) 0 0;
    overflow: hidden;

    & > .card-title {
      font-size: 20px;
    }
  }

  & .card-body {
    padding: 16px;
    background-color: var(--card-bg-color);
    color: var(--card-color);

    & > .row {
      width: 100%;
    }

    &:last-child {
      border-bottom-left-radius: var(--card-content-radius);
      border-bottom-right-radius: var(--card-content-radius);
    }

    &:first-child {
      border-top-left-radius: var(--card-content-radius);
      border-top-right-radius: var(--card-content-radius);
    }
  }

  & .card-footer {
    background-color: var(--card-footer-bg-color);
    color: var(--card-color);
    border-top: 1px solid var(--outline-color);
    align-items: center;
    padding: 0 var(--card-content-padding);
    gap: 8px;
    display: flex;
    border-radius: 0 0 var(--card-content-radius) var(--card-content-radius);
    backdrop-filter: blur(10px);
    overflow: hidden;

    &.block-footer {
      padding: 8px var(--card-content-padding);
      display: block;
    }
  }

  & > *:first-child {
    border-top: none;
  }

  & > *:last-child {
    border-bottom: none;
  }

  &.card-primary {
    & .card-header {
      background: linear-gradient(
        var(--accent-color-75),
        var(--card-bg-color) 60%
      );
      border: none;
      min-height: 48px;
      margin-bottom: 1px;
    }
  }

  &.immersive {
    background-color: var(--card-bg-color);
    border-color: var(--outline-light-color);
    box-shadow: none;

    & .card-header {
      background: transparent;
      border: none;
      min-height: 48px;
      margin-bottom: 1px;
      display: block;
      padding: var(--card-content-padding);

      & > .card-icon {
        margin-bottom: var(--card-content-radius);
        color: var(--accent-color);
      }

      & > .card-title {
        margin: 0;

        &.large {
          font-size: 30px;
        }
      }

      & > .card-subtitle {
        margin-top: var(--card-content-radius);
        margin-bottom: 0;
      }

      &.inlined {
        & > .card-title,
        & > .card-subtitle {
          display: inline;
        }
      }
    }

    & .card-body {
      background-color: transparent;
      padding: 0 var(--card-content-padding);

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }

    & .card-footer {
      background-color: transparent;
      border: none;
      min-height: 48px;
      margin-top: 1px;
      padding: var(--card-content-padding);
    }
  }
}

:not(.d-flex) > .card + .card {
  margin-top: var(--grid-gutter);
}

.info-box {
  display: flex;
  min-height: 64px;
  margin: 8px;
  padding: 16px;
  border-radius: var(--radius);
  gap: 8px;
  position: relative;
  background-color: var(--info-box-bg-color);
  color: var(--info-box-color);

  & > .info-box-icon {
    display: flex;
    height: 32px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
  }

  & > .info-box-content {
    min-height: 32px;
    align-self: center;
    flex-grow: 1;
  }
}

.progress {
  height: 4px;
  width: 100%;
  border-radius: 999vmax;
  background-color: #6668;

  & .progress-bar {
    width: 50%;
    height: 100%;
    background: currentColor;
  }
}

.btn,
button {
  display: inline-flex;
  min-height: 36px;
  align-items: center;
  justify-content: center;
  min-width: 96px;
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2); */
  border: 1px solid var(--outline-light-color);
  border-bottom: 1px solid var(--outline-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  text-wrap: nowrap;
  font-size: 1rem;
  border-radius: var(--card-button-radius);
  padding: 0 8px;

  &.btn-primary,
  &.bg-gradient-primary,
  &.active {
    background-color: var(--accent-color-75);
    color: var(--accent-on-color);
    border: 1px solid var(--accent-color-75);
  }

  &[disabled] {
    background-color: var(--callout-bg-color);
    color: var(--callout-color);
    /* box-shadow: none; */
    border: 1px solid var(--outline-light-color);
    border-bottom: 1px solid var(--outline-color);
    filter: contrast(0.9) grayscale();
  }

  &.btn-small {
    font-size: 14px;
  }

  &:not([disabled]):hover {
    background-color: var(--accent-color);
    color: var(--accent-on-color);
  }
}

button.close {
  border-radius: 999vmax;
  border: 1px solid var(--accent-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  aspect-ratio: 1;
  min-height: unset;
  min-width: unset;
}

.card:not(.immersive) > .card-footer > :is(button, .btn) {
  height: 48px;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: calc(0px - var(--card-content-padding) / 2);
  border-radius: 0px;
  border: none;
  flex: 1;

  &:first-child {
    margin-left: calc(0px - var(--card-content-padding));
  }

  &:last-child {
    margin-right: calc(0px - var(--card-content-padding));
  }
}

.tooltip {
  background-color: var(--card-bg-color);
  color: var(--card-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--outline-color);
  border-radius: var(--radius);
  z-index: 8000;
}

input,
.custom-file-label {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  min-height: 32px;
  border: 1px solid var(--outline-light-color);
  border-bottom: 1px solid var(--outline-color);
}

input {
  border-radius: var(--card-button-radius);
  outline: none;

  &:active,
  &:focus {
    border-bottom-color: var(--accent-color);
    border-bottom-width: 2px;
  }
}

input[type='checkbox'],
input[type='radio'] {
  min-height: initial;
}

input[type='file'] {
  display: none;
}

.custom-file {
  width: 100%;
}

.custom-file-label {
  display: block;
  width: 100%;
}

textarea.form-control {
  display: block;
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-color);
  width: 100%;
  min-height: 96px;
  resize: vertical;

  &:hover {
    border-color: var(--accent-color-75);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.nav-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  border-radius: 999vmax;
  overflow: hidden;
  border: 1px solid var(--outline-color);

  & > .nav-item {
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
    background-color: var(--callout-bg-color);
    color: var(--callout-color);
    text-decoration: none;
    margin: 0;
    padding: 0 4px;

    &:hover {
      background-color: var(--accent-color);
      color: var(--accent-on-color);
    }

    & a {
      color: currentColor;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
      padding-left: 8px;
    }

    &:last-child {
      padding-right: 8px;
    }

    &:not(:first-child) {
      border-left: 1px solid var(--outline-color);
    }

    &.active {
      background-color: var(--accent-color-75);
      color: var(--accent-on-color);
    }
  }
}

.immersive .nav-tabs,
.nav-tabs.immersive {
  border: none;
  border-radius: 0;
  display: flex;
  gap: 12px;
  margin: 0;
  font-size: 1.1rem;

  & > .nav-item {
    border: none;
    padding: 8px;

    &:hover {
      background: none;
      color: inherit;
    }

    & a {
      display: block;

      &.active {
        &::before {
          content: '';
          position: absolute;
          bottom: 4px;
          left: 4px;
          right: 4px;
          height: 4px;
          background-color: var(--accent-color);
          border-radius: 999vmax;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;

  & .page-item {
    background-color: var(--card-bg-color);
    color: var(--card-color);
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    & a {
      color: var(--card-color);
      text-decoration: none;
    }

    &.disabled {
      color: var(--outline-color);

      & a {
        color: var(--outline-color);
      }
    }

    &.active {
      background-color: var(--accent-color-75);
      color: var(--accent-on-color);

      & a {
        color: var(--accent-on-color);
      }
    }
  }
}

.immersive .pagination,
.pagination.immersive {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;

  & .page-item {
    min-height: 32px;
    min-width: 32px;
    color: var(--accent-color);
    border-radius: var(--card-content-radius);
    transition-property: background-color, color, font-size;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.25s;

    & a {
      text-decoration: none;
      color: currentColor;
    }

    &.disabled {
      color: var(--outline-color);
    }

    &.active {
      background-color: var(--accent-color);
      color: var(--accent-on-color);
      font-size: 0.9rem;
    }

    &:not(.disabled):hover {
      background-color: var(--accent-color-75);
      color: var(--accent-on-color);
      font-size: 1.1rem;

      &.active {
        font-size: 1rem;
      }
    }
  }
}

.callout {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-light-color);
  margin-bottom: calc(var(--grid-gutter) / 2);
  padding: 2px 8px;
  border-radius: var(--radius);
  min-height: 48px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.4rem;
    background-color: var(--first-letter-color);
    border-radius: 999vmax;
  }

  &.callout-warning {
    --first-letter-color: orange;
  }

  &.callout-danger {
    --first-letter-color: red;
  }

  &.callout-info {
    --first-letter-color: rgb(23, 99, 170);
  }

  &.callout-success {
    --first-letter-color: green;
  }

  &.callout-secondary {
    --first-letter-color: brown;
  }

  &.callout-primary {
    --first-letter-color: var(--accent-color);
  }
}

.small-box {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--card-bg-color);
  color: var(--card-color);
  border: 1px solid var(--outline-color);
  position: relative;

  & > .inner {
    width: 100%;
    padding: 12px;

    & h3 {
      margin: 0;
      font-size: 30px;
    }
  }

  & > .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    opacity: 0.45;
  }

  & > .small-box-footer {
    display: flex;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-footer-bg-color);
  }
}

select {
  background-color: var(--callout-bg-color);
  color: var(--callout-color);
  border: 1px solid var(--outline-color);
  min-height: 32px;
}

.badge {
  display: inline-flex;
  border-radius: var(--card-content-radius);
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px 8px;
  text-wrap: nowrap;
  font-size: 0.9rem;

  background-color: var(--callout-bg-color);
  color: var(--callout-color);

  &.name-badge {
    background-color: var(--name-bg-color);
    color: var(--name-color);
  }

  &.bg-primary,
  &.primary {
    background-color: var(--accent-color);
    color: var(--accent-on-color);
  }
}

.btn-danger {
  background-color: rgb(197, 12, 12);
  color: white;
}

.btn-success {
  background-color: rgb(5, 105, 5);
  color: white;
}
